$content-height: 176px;

.wrapper {
    min-height: 1000px;
}
.menu,
.contact {
    text-align: center;
    // padding: 50px 0 50px 0;
    padding-bottom: 50px;
}
.menu {
    background-color: var(--black-color);
    color: var(--white-color);
}

.text {
    width: 800px;
    margin: 8px auto 0 auto;
    // text-align: justify;
}

.name {
    font-size: 2rem;
}
.img {
    width: 100%;
}

.detail {
    background-color: var(--white-color);
    color: var(--black-color);
    margin-top: -7px;
    text-align: justify;
    padding: 16px;
    min-height: $content-height;
}
.name {
    text-align: center;
}
.des-food {
    margin-top: 8px;
}
