$content-height: 230px;
$content-height--tablet: 268px;

.wrapper {
    min-height: 1000px;
}

.menu {
    text-align: center;
    // padding: 50px 0 50px 0;
    padding-bottom: 50px;
    background-color: var(--black-color);
    color: var(--white-color);
}

.text {
    width: 800px;
    margin: 8px auto 0 auto;
    // text-align: justify;
}

.name {
    font-size: 2.2rem;
}
.img {
    width: 100%;
}

.detail {
    background-color: var(--white-color);
    color: var(--black-color);
    margin-top: -7px;
    text-align: justify;
    padding: 16px;
    min-height: $content-height;
}
.name {
    text-align: center;
}
.des-food {
    margin-top: 8px;
    font-family: 'Rancho', serif;
    font-size: 2.4rem;
}

// Responsive
// Tablet && Mobile
@media screen and (max-width: 63.9375em) {
    .detail {
        margin-bottom: 16px;
    }
}
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
}

// Ipad Pro (min-width: 1024px) and (max-width: 1366px)
@media screen and (min-width: 64em) and (max-width: 85.375em) {
    .detail {
        min-height: $content-height--tablet;
    }
}

// mobile
@media screen and (max-width: 46.1875em) {
    .menu {
        padding-left: 16px;
        padding-right: 16px;
    }
}
