.wrapper {
}

.about {
    text-align: center;
    // padding: 50px 0 50px 0;
    padding-bottom: 50px;
}

.text {
    width: 800px;
    margin: 8px auto 0 auto;
    // text-align: justify;
}

// Resposive
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .text {
        width: 100%;
    }
}

@media screen and (max-width: 46.1875em) {
    .text {
        width: 100%;
        font-size: 1.5rem;
        padding: 0 16px;
    }
}
